*{padding:0; margin:0;}
html{scroll-behavior: smooth;}
/* body{width:100%; height:100vh;} */

.tt{position:fixed; top:40px; left:40px; background:red; color:#fff;}
.window{ position:relative; top:0; transition: 1s ease-out; }



.con{width:100%; height:100vh; border:dashed red 2px; box-sizing:border-box; }

.con1{background:url(images/image_01.jpg) no-repeat center top; background-size: cover;}
.con2{background:url(images/image_02.jpg) no-repeat center top; background-size: cover;}
.con3{background:url(images/image_03.jpg) no-repeat center top; background-size: cover;}
.con4{background:url(images/image_04.jpg) no-repeat center top; background-size: cover;}
